/* スタイルのリセット */
body, h1, h2, p, address {
    margin: 0;
    padding: 0;
}

/* ページ全体のスタイル */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
}

/* ヘッダーのスタイル */
header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

/* セクションのスタイル */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #3498db;
    font-size: 24px;
    margin-bottom: 10px;
}

section p {
    font-size: 16px;
    line-height: 1.4;
}

/* フッターのスタイル */
footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* リンクのスタイル */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
